/*!
 * @package   yii2-editable
 * @author    Kartik Visweswaran <kartikv2@gmail.com>
 * @copyright Copyright &copy; Kartik Visweswaran, Krajee.com, 2015 - 2016
 * @version   1.7.5
 *
 * Styling for the Editable widget
 * Built for Yii Framework 2.0
 * Author: Kartik Visweswaran
 * Year: 2015
 * For more Yii related demos visit http://demos.krajee.com
 */
.kv-editable, .kv-editable-value {
    display: inline-block;
}

.kv-editable-link {
    color: #428bca;
    background: none;
    border: none;
    margin: 0;
    padding: 2px 1px;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px dashed;
}

.kv-editable-value {
    margin-right: 5px;
}

.kv-editable-button.btn-sm,
button[disabled].kv-editable-button {
    border-radius: 15px;
    width: 30px;
    padding: 5px;
}

button[disabled].kv-editable-button {
    opacity: 0.65;
    filter: alpha(opacity=65);
    pointer-events: none;
    cursor: not-allowed;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ddd;
}

.kv-editable-link:hover, .kv-editable:focus {
    color: #2a6496;
}

.kv-editable-link:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.kv-editable-link.text-primary:hover {
    color: #3071a9;
}

.kv-editable-link.text-success {
    color: #3c763d;
}

.kv-editable-link.text-success:hover {
    color: #2b542c;
}

.kv-editable-link.text-info {
    color: #31708f;
}

.kv-editable-link.text-info:hover {
    color: #245269;
}

.kv-editable-link.text-warning {
    color: #8a6d3b;
}

.kv-editable-link.text-warning:hover {
    color: #66512c;
}

.kv-editable-link.text-danger {
    color: #a94442;
}

.kv-editable-link.text-danger:hover {
    color: #843534;
}

.kv-editable-link.bg-primary {
    color: #fff;
    background-color: #428bca;
}

.kv-editable-link.bg-primary:hover {
    background-color: #3071a9;
}

.kv-editable-link.bg-success {
    background-color: #dff0d8;
}

.kv-editable-link.bg-success:hover {
    background-color: #c1e2b3;
}

.kv-editable-link.bg-info {
    background-color: #d9edf7;
}

.kv-editable-link.bg-info:hover {
    background-color: #afd9ee;
}

.kv-editable-link.bg-warning {
    background-color: #fcf8e3;
}

.kv-editable-link.bg-warning:hover {
    background-color: #f7ecb5;
}

.kv-editable-link.bg-danger {
    background-color: #f2dede;
}

.kv-editable-link.bg-danger:hover {
    background-color: #e4b9b9;
}

.kv-editable-content .form-group {
    margin: 5px 0;
}

.kv-editable-content .help-block {
    margin: 0;
}

.kv-editable-loading {
    float: left;
    width: 30px;
    background: transparent url('../img/loading.gif') 8px 8px no-repeat;
}

.kv-editable-processing {
    opacity: 0.5;
    cursor: wait;
}

.kv-editable-inline .panel-footer {
    text-align: right;
    padding: 5px;
}

.kv-editable-inline .panel-footer .btn {
    margin-left: 4px;
}

@media (min-width: 768px) {
    .kv-editable-form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: top;
    }

    .kv-editable-form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: top;
    }

    .kv-editable-form-inline .form-control-static {
        display: inline-block;
    }

    .kv-editable-form-inline .input-group {
        display: inline-table;
        vertical-align: top;
    }

    .kv-editable-form-inline .input-group .input-group-addon,
    .kv-editable-form-inline .input-group .input-group-btn,
    .kv-editable-form-inline .input-group .form-control {
        width: auto;
    }

    .kv-editable-form-inline .input-group > .form-control {
        width: 100%;
    }

    .kv-editable-form-inline .control-label {
        margin-bottom: 0;
        vertical-align: middle;
    }

    .kv-editable-form-inline .radio,
    .kv-editable-form-inline .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .kv-editable-form-inline .radio label,
    .kv-editable-form-inline .checkbox label {
        padding-left: 0;
    }

    .kv-editable-form-inline .radio input[type="radio"],
    .kv-editable-form-inline .checkbox input[type="checkbox"] {
        position: relative;
        margin-left: 0;
    }

    .kv-editable-form-inline .has-feedback .form-control-feedback {
        top: 0;
    }
}

.kv-editable-inline-1 .kv-editable-inline,
.kv-editable-inline-2 .kv-editable-inline,
.kv-editable-inline-button .kv-editable-button {
    display: inline-block;
}

.kv-editable-inline-1 {
    margin-top: -10px;
}

.kv-editable-inline-1 .kv-inline-open {
    margin-top: 20px;
}

.panel .kv-editable-form-inline {
    padding: 0 5px 5px 0;
}

.kv-editable-form-inline .btn-sm {
    margin: 2px 4px 0 0;
}

.kv-editable-form-inline .kv-editable-close {
    margin-top: 6px;
}